.product {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	top: 0px;
	width: 100%;
	max-height: 400px;
	position: relative;
	max-width: 262px;
	background-color: white;
	border-radius: 24px;
	padding: 32px 24px;
	margin: 12px;
	text-decoration: none;
	z-index: 0;
	overflow: hidden;
	border: 2px solid white;
}
.product:hover {
	transition: all 0.2s ease-out;
	box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
	top: -4px;
	border: 2x solid black;
	background-color: white;
}

.product:before {
	position: absolute;
	z-index: -1;
	top: -16px;
	right: -16px;
	background: white;
	height: 32px;
	width: 32px;
	border-radius: 32px;
	transform: scale(2);
	transform-origin: 50% 50%;
	transition: transform 0.15s ease-out;
}

.product:hover:before {
	transform: scale(2.15);
}

.product__rating {
	display: flex;
}

.product > img {
	max-height: 220px;
	min-height: 220px;

	width: 100%;
	object-fit: contain;
	margin-bottom: 15px;
}

.product > button {
	background: #f0c14b;
	border-radius: 12px;
	border: 2px solid;
	margin-top: 10px;
	border-color: #a88734 #9c7e31 #846a29;
	color: #111;
}

.product > button:hover {
	background: #111;
	border: 2px solid;
	margin-top: 10px;
	border-color: #f0c14b;
	color: #f0c14b;
}

.product__price {
	margin-top: 5px;
}

.product__info {
	height: 100px;
	margin-bottom: 15px;
	margin-left: 20px;
}
